html, body {
  height:100%;
}
 
 body {
  background-color: #f5f5f5
}

 main {
  margin-left: 100px;
  margin-right: 100px;
  display: flex;
  flex-direction: column;
}
  
  .card.mb-3 {
    opacity: 0.95;
  }

  .card.mb-3 .manual {
    display:flex;
    flex-direction: row;
    align-items: center;
    width:600px;
    margin-left: 30px;
  }

  .card.mb-3 .peak {
    display:flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
    flex: 1 1 auto;
  }

  .card.header {
    padding: 30px;
  }

  section {
    display: flex;
    flex: 1 0 auto;
    align-items: center;
    margin: 30px 30px;
  }

  .summary {
    margin: 30px auto;
    flex-direction: column;
    justify-content: center;
  }

  .summary img {
    width: 100px;
    height: 100px;
  }

  .title {
    display: flex;
    align-items: center;
    justify-content:left;
    padding-bottom: 30px;
  }

   #map {
  height: 450px;
  width:800px;
  }

  .card-title {
    margin-left: 30px;
    font-weight: bold;
  }

  button {
    width:120px;

  }

  section #graph {
    height:400px;
    width: 800px;
  }
  
  section #wind_rose {
    margin-left: 50px;
  }

  .pictures {
    display:flex;
    width: 100%;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-around;
  }

  .pictures img {
    width: 600px;
    height: 500px;
    flex: 1 0 auto;
    padding: 50px;
  }

  .wind_turbine {
    display:flex;
    width: 100%;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-between;
    padding: 1rem;
  }

  .wind_turbine img {
    width: 15rem;
    height: 15rem;
    margin: 0 5rem;
  }

  .model {
    margin-bottom: 3rem;
  }

  .table_day {
    margin-left: 30px;
    display: flex;
    justify-content: space-between;
  }

input[type=text] {
  background-color: #fff;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  margin: 10px;
  padding: 0 0.5em;
  font: 400 18px Roboto, Arial, sans-serif;
  overflow: hidden;
  line-height: 40px;
  margin-right: 0;
  min-width: 25%;
}

input[type=button] {
  background-color: #fff;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  margin: 10px;
  padding: 0 0.5em;
  font: 400 18px Roboto, Arial, sans-serif;
  overflow: hidden;
  height: 40px;
  cursor: pointer;
  margin-left: 5px;
}
input[type=button]:hover {
  background: rgb(235, 235, 235);
}
input[type=button].button-primary {
  background-color: #1a73e8;
  color: white;
}
input[type=button].button-primary:hover {
  background-color: #1765cc;
}
input[type=button].button-secondary {
  background-color: white;
  color: #1a73e8;
}
input[type=button].button-secondary:hover {
  background-color: #d2e3fc;
}

#response-container {
  background-color: #fff;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  margin: 10px;
  padding: 0 0.5em;
  font: 400 18px Roboto, Arial, sans-serif;
  overflow: hidden;
  overflow: auto;
  max-height: 50%;
  max-width: 90%;
  background-color: rgba(255, 255, 255, 0.95);
  font-size: small;
}

#instructions {
  background-color: #fff;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  margin: 10px;
  padding: 0 0.5em;
  font: 400 18px Roboto, Arial, sans-serif;
  overflow: hidden;
  padding: 1rem;
  font-size: medium;
}