<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <title>ECO SUSTAINABLE HOME</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="/static/styles.css" />
        <script type="module" src="/static/index.js"></script>
        <link href="/static/bootstrap.min.css" rel="stylesheet">
        <link href="/static/styles.css" rel="stylesheet">
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js@4.4.3/dist/chart.umd.min.js"></script>
      </body>
    </head>
    <body>
      <header>
        <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
          <div class="container-fluid">
            <h1 class="navbar-brand" href="#">ECO Sustainable Home<br><small class="text-body-secondary"><i>Make your home sustainable</i></small></h1>
          </div>
        </nav>
      </header>
      <main>
       <!--wind information--> 
        <div class="card mb-3">
          <h3 class="card-header">Step Nº1: Define your location and obtain your wind information</h3>
          <section>
            <div id="map"></div>
            <script async src="//maps.googleapis.com/maps/api/js?key=AIzaSyBk1HOGs-rDHdk-Gl6UtR4kaiXE8qtctCo&language=en&loading=async&libraries=marker&callback=initMap&v=weekly"></script>
            <div class="summary">
              <div class="title">              
                <img src="static/images/windy_icon.png">
                <h3 class="card-title">WIND SUMMARY</h3>
              </div>
              <div>
                <h4 id="speed"><strong>Average speed (m/s): </strong></h4>
                <h4 id="direction"><strong>Average direction (º): </strong></h4>
                <p id="latitude2"><strong>Latitude: </strong></p>
                <p id="longitude2"><strong>Longitude: </strong></p>
                <p><strong>Height above ground: </strong>10m</p>
              </div>
            </div>
          </section>
          <h5 class="card-title">Or introduce your coordinates</h5>
          <form id="manual" class = "manual" action="/" method="post">
            <button type="button" class="btn btn-primary" id="location"><img src="static/images/compass.png" width="20" height="20"></button>
              <input class="form-control" type="number" step="0.0000001" name="latitude" placeholder="Latitude" id="latitude" min="-90" max="90">
              <input class="form-control" type="number" step="0.0000001" name="longitude" placeholder="Longitude" id="longitude" min="-180" max="180">
              <button type="submit" id="coordinates" class="btn btn-primary">Submit</button>
          </form> 
          <hr class="border border-primary border-3 opacity-50">
          <h3 class="card-title" style="text-align: center; text-decoration: underline;"><strong>WIND INFORMATION</strong></h3>
          <section>
            <canvas id="graph" height="400" width="800"></canvas>
            <canvas id="wind_rose" height="400" width="400"></canvas>
          <section>
        </div>  
        <!--consumption--> 
        <div class="card mb-3">
          <h3 class="card-header">Step Nº2: Estimate your consumption</h3>
          <div class="title" style="justify-content: space-around;">
            <h4 class="card-title">Introduce your consumption per day</h4>
            <h4 class="card-title">Summary of your home consumption</h4>
          </div>
          <h6 style="margin-right: 700px; margin-left: 40px;">Below we show you a list of preselected elements. You can delete, modify or add new consumptions.</h6>
            <!-- Create a form for users to submit a name, a month, and a day -->
          <div class="table_day">
            <table class="table table-hover" style="width: 800px;">
              <thead>
                <tr>
                  <th scope="col"></th>
                  <th scope="col">Appliances</th>
                  <th scope="col">Power (W)</th>
                  <th scope="col">Use (Hrs)</th>
                  <th scope="col">Units</th>
                  <th scope="col">Total Power (kW)</th>
                  <th scope="col">Consumption (kW/day)</th>
                </tr>
              </thead>
              <tbody>
                <!-- tv -->
                <tr>
                  <td><img src="static/images/tv.png" width="40" height="40"></td>
                  <th scope="row">TV</th>
                  <td><input class="form-control" type="number" id="input1" placeholder="40" value="40" min="0" max="100000"></td>
                  <td><input class="form-control" type="number" id="inputhr1" placeholder="5" value="5" min="0" max="24"></td>
                  <td><input class="form-control" type="number" id="inputun1" placeholder="1" value="1" min="0" max="99"></td>
                  <td class="table-active"><span id="total_power1"></span></td>
                  <td class="table-active"><span id="total_power_day1"></span></td>
                </tr>
                <!-- Laptop -->
                <tr>
                  <td><img src="static/images/laptop.png" width="40" height="40"></td>
                  <th scope="row">Computer</th>
                  <td><input class="form-control" type="number" id="input2" placeholder="60" value="60" min="0" max="100000"></td>
                  <td><input class="form-control" type="number" id="inputhr2" placeholder="2" value="2" min="0" max="24"></td>
                  <td><input class="form-control" type="number" id="inputun2" placeholder="1" value="1" min="0" max="99"></td>
                  <td class="table-active"><span id="total_power2"></span></td>
                  <td class="table-active"><span id="total_power_day2"></span></td>

                </tr>
                <!-- Oven -->
                <tr>
                  <td><img src="static/images/oven.png" width="40" height="40"></td>
                  <th scope="row">Oven</th>
                  <td><input class="form-control" type="number" id="input3" placeholder="2000" value="2000" min="0" max="100000"></td>
                  <td><input class="form-control" type="number" id="inputhr3" placeholder="1" value="1" min="0" max="24"></td>
                  <td><input class="form-control" type="number" id="inputun3" placeholder="1" value="1" min="0" max="99"></td>
                  <td class="table-active"><span id="total_power3"></span></td>
                  <td class="table-active"><span id="total_power_day3"></span></td>
                </tr>
                <!-- Lighting -->
                <tr>
                  <td><img src="static/images/light.png" width="40" height="40"></td>
                  <th scope="row">Lighting</th>
                  <td><input class="form-control" type="number" id="input4" placeholder="10" value="10" min="0" max="100000"></td>
                  <td><input class="form-control" type="number" id="inputhr4" placeholder="4" value="4" min="0" max="24"></td>
                  <td><input class="form-control" type="number" id="inputun4" placeholder="10" value="10" min="0" max="99"></td>
                  <td class="table-active"><span id="total_power4"></span></td>
                  <td class="table-active"><span id="total_power_day4"></span></td>
                </tr>
                <!-- Heater -->
                <tr>
                  <td><img src="static/images/heater.png" width="40" height="40"></td>
                  <th scope="row">Heater</th>
                  <td><input class="form-control" type="number" id="input5" placeholder="1300" value="1300" min="0" max="100000"></td>
                  <td><input class="form-control" type="number" id="inputhr5" placeholder="3" value="3" min="0" max="24"></td>
                  <td><input class="form-control" type="number" id="inputun5" placeholder="1" value="1" min="0" max="99"></td>
                  <td class="table-active"><span id="total_power5"></span></td>
                  <td class="table-active"><span id="total_power_day5"></span></td>                    
                </tr>
                <!-- Fridge -->
                <tr>
                  <td><img src="static/images/fridge.png" width="40" height="40"></td>
                  <th scope="row">Fridge</th>
                  <td><input class="form-control" type="number" id="input6" placeholder="175" value="175" min="0" max="100000"></td>
                  <td><input class="form-control" type="number" id="inputhr6" placeholder="24" value="24" min="0" max="24"></td>
                  <td><input class="form-control" type="number" id="inputun6" placeholder="1" value="1" min="0" max="99"></td>
                  <td class="table-active"><span id="total_power6"></span></td>
                  <td class="table-active"><span id="total_power_day6"></span></td>
                </tr>
                <!-- Microwave -->
                <tr>
                  <td><img src="static/images/microwave.png" width="40" height="40"></td>
                  <th scope="row">Microwave</th>
                  <td><input class="form-control" type="number" id="input7" placeholder="1000" value="1000" min="0" max="100000"></td>
                  <td><input class="form-control" type="number" id="inputhr7" placeholder="1" value="1" min="0" max="24"></td>
                  <td><input class="form-control" type="number" id="inputun7" placeholder="1" value="1" min="0" max="99"></td>
                  <td class="table-active"><span id="total_power7"></span></td>
                  <td class="table-active"><span id="total_power_day7"></span></td>
                </tr>
                <!-- Washer -->
                <tr>
                  <td><img src="static/images/washer.png" width="40" height="40"></td>
                  <th scope="row">Washer</th>
                  <td><input class="form-control" type="number" id="input8" placeholder="850" value="850" min="0" max="100000"></td>
                  <td><input class="form-control" type="number" id="inputhr8" placeholder="2" value="2" min="0" max="24"></td>
                  <td><input class="form-control" type="number" id="inputun8" placeholder="1" value="1" min="0" max="99"></td>
                  <td class="table-active"><span id="total_power8"></span></td>
                  <td class="table-active"><span id="total_power_day8"></span></td>
                </tr>
                <!-- Stove -->
                <tr>
                  <td><img src="static/images/stove.png" width="40" height="40"></td>
                  <th scope="row">Stove</th>
                  <td><input class="form-control" type="number" id="input9" placeholder="2200" value="2200" min="0" max="100000"></td>
                  <td><input class="form-control" type="number" id="inputhr9" placeholder="2" value="2" min="0" max="24"></td>
                  <td><input class="form-control" type="number" id="inputun9" placeholder="1" value="1" min="0" max="99"></td>
                  <td class="table-active"><span id="total_power9"></span></td>
                  <td class="table-active"><span id="total_power_day9"></span></td>
                </tr>
                <!-- Cellphone -->
                <tr>
                  <td><img src="static/images/cellphone.png" width="40" height="40"></td>
                  <th scope="row">Cellphone</th>
                  <td><input class="form-control" type="number" id="input10" placeholder="5" value="5" min="0" max="100000"></td>
                  <td><input class="form-control" type="number" id="inputhr10" placeholder="2" value="2" min="0" max="24"></td>
                  <td><input class="form-control" type="number" id="inputun10" placeholder="2" value="2" min="0" max="99"></td>
                  <td class="table-active"><span id="total_power10"></span></td>
                  <td class="table-active"><span id="total_power_day10"></span></td>
                </tr>
                <!-- AC -->
                <tr>
                  <td><img src="static/images/ac.png" width="40" height="40"></td>
                  <th scope="row">A / C</th>
                  <td><input class="form-control" type="number" id="input11" placeholder="2000" value="2000" min="0" max="100000"></td>
                  <td><input class="form-control" type="number" id="inputhr11" placeholder="4" value="4" min="0" max="24"></td>
                  <td><input class="form-control" type="number" id="inputun11" placeholder="1" value="1" min="0" max="99"></td>
                  <td class="table-active"><span id="total_power11"></span></td>
                  <td class="table-active"><span id="total_power_day11"></span></td>
                </tr>
                <!-- Kitchen Appliance -->
                <tr>
                  <td><img src="static/images/kitchen_app2.png" width="40" height="40"></td>
                  <th scope="row">Kitchen App</th>
                  <td><input class="form-control" type="number" id="input12" placeholder="1350" value="1350" min="0" max="100000"></td>
                  <td><input class="form-control" type="number" id="inputhr12" placeholder="1" value="1" min="0" max="24"></td>
                  <td><input class="form-control" type="number" id="inputun12" placeholder="1" value="1" min="0" max="99"></td>
                  <td class="table-active"><span id="total_power12"></span></td>
                  <td class="table-active"><span id="total_power_day12"></span></td>
                </tr>
                <!-- Other appliance Console -->
                <tr>
                  <td><img src="static/images/console.png" width="40" height="40"></td>
                  <th scope="row">Other Appliance</th>
                  <td><input class="form-control" type="number" id="input13" placeholder="0" value="0" min="0" max="100000"></td>
                  <td><input class="form-control" type="number" id="inputhr13" placeholder="0" value="0" min="0" max="24"></td>
                  <td><input class="form-control" type="number" id="inputun13" placeholder="0" value="0" min="0" max="99"></td>
                  <td class="table-active"><span id="total_power13"></span></td>
                  <td class="table-active"><span id="total_power_day13"></span></td>
                </tr>
                <!-- Other appliance Air pump -->
                <tr>
                  <td><img src="static/images/air_pump_app.png" width="40" height="40"></td>
                  <th scope="row">Other Appliance</th>
                  <td><input class="form-control" type="number" id="input14" placeholder="0" value="0" min="0" max="100000"></td>
                  <td><input class="form-control" type="number" id="inputhr14" placeholder="0" value="0" min="0" max="24"></td>
                  <td><input class="form-control" type="number" id="inputun14" placeholder="0" value="0" min="0" max="99"></td>
                  <td class="table-active"><span id="total_power14"></span></td>
                  <td class="table-active"><span id="total_power_day14"></span></td>
                </tr>
                <!-- Other appliance Music -->
                <tr>
                  <td><img src="static/images/music.png" width="40" height="40"></td>
                  <th scope="row">Other Appliance</th>
                  <td><input class="form-control" type="number" id="input15" placeholder="0" value="0" min="0" max="100000"></td>
                  <td><input class="form-control" type="number" id="inputhr15" placeholder="0" value="0" min="0" max="24"></td>
                  <td><input class="form-control" type="number" id="inputun15" placeholder="0" value="0" min="0" max="99"></td>
                  <td class="table-active"><span id="total_power15"></span></td>
                  <td class="table-active"><span id="total_power_day15"></span></td>
                </tr>
              </tbody>
            </table>
            <div class="summary" style="margin: left 30px;">
              <div class="title">
                <img src="static/images/comsuption.png">
                <h3 class="card-title">CONSUMPTION SUMMARY</h3>
              </div>
              <h4><strong>Consumption per day (kWh): </strong><span id="power_day"></span></h4>
              <h4><strong>Consumption per year (kWh): </strong><span id="power_year"></span></h4>
            </div> 
          </div>  
          <button type="submit" class="btn btn-primary" id="consumption" style="margin-left: 30px; margin-bottom: 30px;">Submit</button>
        </div>
        <!--Turbine model--> 
        <div class="card mb-3">
          <h3 class="card-header">Step Nº3: Select your wind turbine model</h3>
            <div class="wind_turbine">
              <div class="model">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="optionsRadios" id="optionsRadios2" value="wind13" checked="">
                  <label class="form-check-label" for="optionsRadios1">
                    <h5>Bornay Wind 13+ 1kW</h5>
                  </label>
                </div>
                <img src="static/images/Bornay_13plus.png">
              </div>
              <div class="model">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="optionsRadios" id="optionsRadios2" value="enair30">
                  <label class="form-check-label" for="optionsRadios2">
                    <h5>Enair 30 PRO 3kW</h5>
                  </label>
                </div>
                <img src="static/images/Enair30pro.png">
              </div>
              <div class="model">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="optionsRadios" id="optionsRadios2" value="wind25">
                  <label class="form-check-label" for="optionsRadios2">
                    <h5>Bornay Wind 25.3+ 5kW</h5>
                  </label>
                </div>
                <img src="static/images/Bornay_25.3plus.png">
              </div>
              <div class="model">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="optionsRadios" id="optionsRadios2" value="enair70">
                  <label class="form-check-label" for="optionsRadios2">
                    <h5>Enair 70 PRO 5.5kW</h5>
                  </label>
                </div>
                <img src="static/images/Enair70pro.png">
              </div>
              <div class="model">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="optionsRadios" id="optionsRadios2" value="atlas7">
                  <label class="form-check-label" for="optionsRadios2">
                    <h5>Atlas 7 7kW</h5>
                  </label>
                </div>
                <img src="static/images/Atlas7.png">
              </div>
              <div class="model">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="optionsRadios" id="optionsRadios2" value="atlasx">
                  <label class="form-check-label" for="optionsRadios2">
                    <h5>Atlas X7 7kW</h5>
                  </label>
                </div>
                <img src="static/images/AtlasX7.png">
              </div>
            </div>
            <button type="submit" class="btn btn-primary" id="turbine" style="margin-left: 30px; margin-bottom: 30px;">Submit</button>
            <hr class="border border-primary border-3 opacity-50">
            <h3 class="card-title" style="text-align: center; text-decoration: underline;"><strong>TURBINE INFORMATION</strong></h3>
              <section>
                <canvas id="graph2" height="400" width="800"></canvas>
                <div class="summary">
                  <div class="title">
                    <img src="static/images/turbine.png">
                    <h3 class="card-title">TURBINE SUMMARY</h3>
                  </div>
                  <h4><strong>Model: </strong><span id="model"></span></h4>
                  <h4><strong>Average Power (kW): </strong><span id="energy_avg"></span></h4>
                  <h4><strong>Energy / day (kWh): </strong><span id="energy_day"></span></h4>
                  <h4><strong>Energy / year (kWh): </strong><span id="energy_year"></span></h4>
                </div>
              </section>
        </div>
        <!--solar production--> 
        <div class="card mb-3">
          <h3 class="card-header">Step Nº4: Complete your home with solar panels</h3>
            <form id="form_solar" style="margin-top: 30px;">
              <h5 class="card-title"><strong>Estimate the installed peak PV power (kWp)</strong></h5>
              <section>
                <input class="form-control" type="number" step="0.01" value="1" name="solar_power" id="solar_power" min="0" max="100" style="width: auto;">
                <h6>kWp</h6>
                <small style="margin-right: 40px; margin-left: 30px;">You can estimate the total power of the installed panels in kilowatts. You can calculate the installed peak PV power by multiplying the number of total panels with a capacity of each panels. For example if you have 5 panels with a capacity of 500 Watts you would enter 2.5 (5 panels x 500 W = 2.5 kWp)</small>
              </section>
              <h5 class="card-title"><strong>Estimate the system loss (%)</strong></h5>
              <section>
                <input class="form-control" type="number" step="0.01" name="loss" value=14 placeholder="14 %" id="loss" min="0" max="100" style="width: auto;">
                <h6>%</h6>
                <small style="margin-right: 40px; margin-left: 50px;">The estimated system losses are all the losses in the system, which cause the power actually delivered to the electricity grid to be lower than the power produced by the PV modules. We have given a default value of 14% for the overall losses. If you have a good idea that your value will be different you may reduce this value a little.</small>
              </section>
              <input hidden id="latitude3" name="latitude">
              <input hidden id="longitude3" name="longitude">
              <button type="submit" class="btn btn-primary" id="solar_panels" style="margin-left: 30px; margin-bottom: 30px;">Submit</button>
            </form>
          <hr class="border border-primary border-3 opacity-50">
          <h3 class="card-title" style="text-align: center; text-decoration: underline;"><strong>SOLAR GENERATION INFORMATION</strong></h3>
          <section>
              <canvas id="graph3" height="400" width="800"></canvas>
              <div class="summary">
                <div class="title">
                  <img src="static/images/solar_power.png" margin = "20px" width="100" height="100">
                  <h3 class="card-title"><strong>SOLAR PRODUCTION SUMMARY</strong></h3>
                </div>
                <h4 id="solar_power2"><strong>PV installed [kWp]: </strong><span></span></h4>
                <h4 id="loss2"><strong>System loss [%]: </strong><span></span></h4>   
                <h4><strong>PV technology: </strong><span>Crystalline silicon</span></h4>               
                <h4><strong>Slope angle Opt (°): </strong><span id="slope"></span></h4>
                <h4><strong>Azimuth angle Opt (°): </strong><span id="azimuth"></span></h4>
                <h4><strong>Yearly PV production (kWh): </strong><span id="year_power"></span></h4>
              </div>
          </section>
        </div>
        <!--saving--> 
        <div class="card mb-3">
          <h3 class="card-header">Final step: Calculate your savings</h3>
          <h5 class="card-title" style="margin-top: 30px;"><strong>Introduce the price per kWh of electricity</strong></h5>
          <section>
            <input class="form-control" type="number" step="0.01" value="0.25" id="price" min="0" max="100" style="margin-left: 30px; width: auto;">
            <h6>€/kWh</h6>
            <small style="margin-right: 40px; margin-left: 30px;">The currency is Euros by default but you can introduce the price in other currency and the result will be similar</small>
          </section> 
          <button type="submit" class="btn btn-primary" id="saving" style="margin-left: 30px; margin-bottom: 30px;">Submit</button>
          <hr class="border border-primary border-3 opacity-50">
          <h3 class="card-title" style="text-align: center; text-decoration: underline;"><strong>SUMMARY OF YOUR INSTALLATION</strong></h3>
          <section>
            <div class="summary">
              <div class="title">
                <img src="static/images/comsuption.png" margin = "20px" width="100" height="100">
                <h4 class="card-title"><strong>CONSUMPTION</strong></h4>
              </div>
              <h5><strong>Consumption per year: </strong><span id="total_consumption"></span></h5>
            </div>
            <div class="summary">
              <div class="title">
                <img src="static/images/turbine.png" margin = "20px" width="100" height="100">
                <h4 class="card-title"><strong>TURBINE PRODUCTION</strong></h4>
              </div>
              <h5><strong>Yearly wind production (kWh): </strong><span id="total_wind"></span></h5>
            </div>
            <div class="summary">
              <div class="title">
                <img src="static/images/solar_power.png" margin = "20px" width="100" height="100">
                <h4 class="card-title"><strong>SOLAR PRODUCTION</strong></h4>
              </div>
              <h5><strong>Yearly PV production (kWh): </strong><span id="total_solar"></span></h5>
            </div>
          </section>
          <div class="summary">
            <div class="title">
              <img src="static/images/saving.png" margin = "20px" width="100" height="100">
              <h2 class="card-title" style="text-align: center; text-decoration: underline;"><strong>SAVINGS</strong></h2>
            </div>
            <h3><strong>Total Eco Sustainable energy (kWh/year): </strong><span id="total_energy"></span></h3>
            <h3><strong>Economic savings (€/year): </strong><span id="economic"></span></h3>
            <h3><strong>You can reduce your consumption price in </strong><span id="percentage"></span></h3>
          </div>
          <hr class="border border-primary border-3 opacity-50">
          <h3 class="card-title" style="text-align: center; text-decoration: underline;"><strong>EXAMPLES OF INSTALLATIONS</strong></h3>
          <div class="pictures">
            <img src="static/images/example_atlas.png" srcset="static/images/example_atlas.png 2x">
            <img src="static/images/example_atlas2.webp" srcset="static/images/example_atlas2.webp 2x">
            <img src="static/images/example_bornay.jpg" srcset="static/images/example_bornay.jpg 2x">
            <img src="static/images/example_enair30.jpg" srcset="static/images/example_enair30.jpg 2x">
          </div>
        </div>
      </main>
    </body>
</html>